# Ignorar carpeta de documentación
docs/
Kali/
Bibliografia/
Capturas/
Imágnes/

# Ignorar documentos de Word
*.doc
*.docx
*.tmp

# Archivos generados
__pycache__/
*.pyc
*.pyo
*.pkl
*.log
hmm_processing_log.txt
processing_log.txt
Datos/

# Archivos temporales de análisis
analisis_*.py